 Name : Atharva Belge <br>
 Roll NO: 07 <br>

### Data Wrangling 1
 Perform the following operations using Python on any open source dataset (e.g., data.csv)
1. Import all the required Python Libraries.
2. Locate an open source data from the web (e.g., https://www.kaggle.com). Provide a clear description of the data and its source (i.e., URL of the web site).
3. Load the Dataset into pandas dataframe.
4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe() function to get some initial statistics. Provide variable descriptions. Types of variables etc. Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set. If variables are not in the correct data type, apply proper type conversions.
6. Turn categorical variables into quantitative variables in Python. In addition to the codes and outputs, explain every operation that you do in the above steps and explain everything that you do to import/read/scrape the data set.


1. Importing all python required Libraries

In [ ]:
import numpy as np
import pandas as pd

2. Locating dataset from kaggle.com (student performance)
3.  Loading dataset into pandas DataFrame

In [ ]:
df = pd.read_csv("sp.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

4. Data Preprocessing:

In [ ]:
df.isna().any()

gender                         False
race/ethnicity                 False
parental level of education    False
lunch                          False
test preparation course        False
math score                     False
reading score                  False
writing score                  False
dtype: bool

In [ ]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

5. Data Formating and Data Normalization

In [ ]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

6. Turn on Categorical variables into quantitve variables

In [ ]:
df['lunch'] = 1* (df['lunch']=='standard')

In [ ]:
df['lunch']==1

0       True
1       True
2       True
3      False
4       True
       ...
995     True
996    False
997    False
998     True
999    False
Name: lunch, Length: 1000, dtype: bool

In [ ]:
df[df['lunch']==1]['lunch'].count() # Standard

645

In [ ]:
df[df['lunch']==0]['lunch'].count() # Free/ Reduced

355